.gradient-background {
	background: linear-gradient(-45deg, #f2ecff, #c7d0e8, #98b6ce, #699dad);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

body {
	background-color: blue;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.figtree-para-font {
	font-family: "Figtree", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.cover-heading {
	font-size: 6rem;
}

.cover-para {
	font-size: 2rem;
}

.linkedin {
	background-color: #f2ecff;
}

.dm-serif-text-regular {
	font-family: "DM Serif Text", serif;
	font-weight: 400;
	font-style: normal;
  }
  
.dm-serif-text-regular-italic {
	font-family: "DM Serif Text", serif;
	font-weight: 400;
	font-style: italic;
}

.fade-in-text {
	opacity: 0;
	transition: opacity 0.6s ease-in-out;
}

.fade-in-text.active {
	opacity: 1;
}
  
.cover {
	display: flex;
}
